<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="container mt-2">
    <div class="row justify-content-between">
        <div class="col-12"><a href="" class="border border-dark rounded">Выход в главное меню</a>
            <a href="" class="border border-dark rounded">Обратно</a></div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
    <form class="form-create-user text-center col border border-dark rounded mt-3" method="post" action="/admin/postCreateUsers">
        <h2 class="form-create-user-label">Создание юзера</h2>
        <br>
        <h2 class="form-create-user-label">{{label}}</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" pattern ="^[a-zA-Z0-9]+$"  placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" pattern ="^[a-zA-Z0-9]+$"  placeholder="Password" required>
        </p>
        <p>
            <label for="roleName">Роль</label>
            <select name="roleName" id="roleName">
                <option selected value="DEVELOPERS">
                   Младший разработчик
                </option>
                <option value="SENIOR_DEVELOPER">
                    Старший разработчик
                </option>
                <option value="MASTER">
                    Лидер команды
                </option>
                <option value="OWNER">
                    Управляющий
                </option>
            </select>
        </p>
        <p>
            <label for="firstName">Имя</label>
            <input type="text" id="firstName" name="firstName"  placeholder="Имя" required>
        </p>
        <p>
            <label for="lastName">Фамилия</label>
            <input type="text" id="lastName" name="lastName"  placeholder="Фамилия" required>
        </p>
        <p>
            <label for="patronymic">Очество</label>
            <input type="text" id="patronymic" name="patronymic"  placeholder="Очество">
        </p>
        <p>
            <label for="info">Информация</label>
            <textarea type="text" id="info" name="info"  placeholder="Информация о работнике"></textarea>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>
    </form>
    </div>
</div>
</body>
</html>